app-provenance-visualization {
    height: 50%;
    width: 300px;
    display: block;
    background-color: #FFF;
}

.node {
    fill: lightsteelblue;
    stroke: steelblue;
    cursor: pointer;
}

.node circle {
    stroke-width: .3px;
    opacity: 0.6;
}

.node.branch-active {
    fill:#F3BB45;
    background-color: #ccc;
}

.node.branch-active text {
    display: block;
}
.node.branch-active.node circle {
    opacity: 1;
    
}
.node.node-active {
    fill: #DD272F;
    stroke: #4ba3bd;
    
}
.node.node-active circle {
    r: 3;
}

.node text {
    display: none;
    /* fill: white; */
    fill: rgb(0, 0, 0);;
    stroke-width: 0;
    font-family: sans-serif;
}

.link {
    fill: none;
    /* stroke: white; */
    stroke: #949DA8;
    stroke-width: .2px;
}

.link.active {
    /* stroke: white; */
    stroke: #949DA8;
    stroke-width: 0.8px;
}