app-provenance-task-list {
  display: flex;
  flex-direction: column;
}
#taskTable {
  margin: 0;
  padding: 0 5px;
  height: 150px;
  overflow: scroll;
}
.inputContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: coral;
  padding: 10px;
  border-radius: 10px;
}

#taskTable li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.taskTitle {
  border: none;
  width: 200px;
  background: transparent;
  padding-left: 10px;
}

.taskTitle:focus {
  outline: none;
}

.floatingButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 15px;
  float: right;
}

.floatingButton:focus {
  outline: none;
}
