app-provenance-task-list {
  display: flex;
  flex-direction: column;
}
#taskTable {
  margin: 0;
  padding: 0 5px;
  height:calc(100vh - 100px);
  width: 300px;
  overflow: scroll;
}
.inputContainer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.taskTitle {
  border: none;
  width: 200px;
  background: transparent;
  padding-left: 10px;
}

.taskTitle:focus {
  outline: none;
}

.floatingButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 15px;
  float: right;
}

.floatingButton:focus {
  outline: none;
}
.slide {
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
}
.taskSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid;
  width: 0px;
  position: absolute;
  transition: all 1s;
}



input[type=radio] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 1s ease;  
   -moz-transition:all 1s ease;  
   -o-transition:all 1s ease;  
   transition:all 1s ease;  
	
}
input[type=radio]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.nodeList li {
  margin-top: 10px;
}
.nodeList li label {
  cursor: pointer;
}