<mat-toolbar color="primary" style="width: 100%">
  <mat-toolbar-row>
    <mat-icon>school</mat-icon>
    <span>&nbsp;</span>
    <span>StoryVis</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

    <mat-form-field>
      <mat-label>Select data</mat-label>
      <mat-select (selectionChange)="setDataSource($event)">
        <mat-option *ngFor="let dataSource of dataSources" [value]="dataSource.url">
          {{ dataSource.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-button-toggle
      [checked]="canvas.settings.measurementMode"
      (change)="canvas.settings.measurementMode = $event.source.checked"
      matTooltip="Measurement"
    >
      <mat-icon class="example-icon">vertical_align_center</mat-icon>
    </mat-button-toggle>
    <mat-menu #appMenu="matMenu">
        <app-styled-slider [canvas]="canvas"></app-styled-slider>
        <!--<ng5-slider [(value)]="canvas.settings.thresholdMinValue" [(highValue)]="canvas.settings.thresholdMaxValue" [options]="options"></ng5-slider>-->
    </mat-menu>
    <button
      matTooltip="Thresholds"
      mat-raised-button
      [matMenuTriggerFor]="appMenu"
    >
      <mat-icon>exposure</mat-icon>
    </button>

    <button mat-raised-button [disabled]="provenance.saveStatus === 'saving'" matTooltip="Save tree in cloud" (click)="provenance.saveGraph()">
      <mat-icon>backup</mat-icon>
    </button>

    <div id="right">
      {{ now }}
    </div>
  </mat-toolbar-row>
</mat-toolbar>
