
<!--<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav position="end" #sidenav mode="side" [opened]="true" hasBackdrop="false">
    <button id="sidenav-trigger" color="primary" style="color: white" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    
    <app-provenance-visualization></app-provenance-visualization>
    <app-provenance-slides></app-provenance-slides>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-brainvis-canvas #canvas></app-brainvis-canvas>
    <div id="bottom-container">
      <app-brainvis-canvas-controls [canvas]="canvas"></app-brainvis-canvas-controls>
    </div>
    
   
  </mat-sidenav-content>
</mat-sidenav-container> -->

<app-sidenav></app-sidenav>

<!-- <app-animation></app-animation> -->


