<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav position="end" #sidenav mode="over" [opened]="false" hasBackdrop="false">
    <button id="sidenav-trigger" color="primary" style="color: white" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    Sidenav content
    <app-provenance-visualization></app-provenance-visualization>
    <app-provenance-slides></app-provenance-slides>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-brainvis-canvas #canvas></app-brainvis-canvas>
    <div id="bottom-container">
      <app-brainvis-canvas-controls [canvas]="canvas"></app-brainvis-canvas-controls>
    </div>
    <!--<p><mat-slide-toggle>sidenav.opened</mat-slide-toggle></p>-->
    <!--<p></p>-->
  </mat-sidenav-content>
</mat-sidenav-container>
