app-brainvis-canvas {
  flex: 1;
}
#bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.8);
}
mat-sidenav {
  overflow: visible;
  visibility: visible !important;
}
mat-sidenav-container, mat-sidenav-content {
  display: flex;
  flex: 1;
}
#sidenav-trigger {
  position: absolute;
  right: -50px;
}