<mat-slide-toggle [(ngModel)]="canvas.showSliceHandle" [(disabled)]="canvas.showSliceHandleDisabled">
  Show slice handle
</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="canvas.showSlice" [(disabled)]="canvas.showSliceDisabled">
  Show slice
</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="canvas.showObjects" [(disabled)]="canvas.showObjectsDisabled">
  Show segmented objects
</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="canvas.alignMode">
  Align camera to slice
</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="canvas.editMode" [(disabled)]="canvas.editModeDisabled">
  Segmentation mode
</mat-slide-toggle>
<mat-slider [(ngModel)]="canvas.segmentationSize" [(disabled)]="canvas.editModeDisabled" [min]='min' [max]='max' [step]='step' >
  Segmentation size
</mat-slider>
<mat-form-field>
    <mat-select [(value)]='selectedColorMap'>
      <mat-option *ngFor="let cm of availableColorMaps" (onSelectionChange)="change($event)" [value]="cm.value">
        {{cm.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<app-styled-slider [canvas]="canvas"></app-styled-slider>

