:host {
  display: flex;
  color: white;
  margin: 1em;
  flex-direction: column;
}

.mat-slider-horizontal {
  height: 48px;
  width: 300px;
  min-width: 128px;
}

.mat-select-value{
  color: red;
}

.mat-select-placeholder{
  color: red;
}