:host {
    position: absolute;
    top:0;
    left: 0;
    color: white;
    padding: 2em;
}

input {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    position: absolute;
}

input::placeholder {
    color: rgba(255, 255, 255, .7);
}

input:hover {
    background-color: rgba(255,255,255,.4);
}

input:focus {
    background-color: rgba(255,255,255,.4);
    border: 1px solid white;
}

.anchor {
    width: 10px;
    height: 10px;
    position:absolute;
    background-color: yellow;
}